<h1>Mes châteaux</h1>

<ul>
  <% @castles.each_with_index do |castle, index| %>

    <li><%= index + 1%>/ <%= link_to castle.name.capitalize, castle_path(castle), :class => "text-dark" %>

      <ul>
        <li>
        <% castle.reservations.each do |reservation| %>

          <% status = "Erreur" %>
          <% if reservation.status == "pending" %>
            <% status = "En attente de validation" %>
          <% elsif reservation.status == "accepted" %>
            <% status = "Accepté" %>
          <% elsif reservation.status == "declined" %>
            <% status = "Refusé" %>
          <% end %>

          Nom : <%= reservation.user.last_name %> <br>
          Prénom : <%= reservation.user.first_name %> <br>
          Email : <%= reservation.user.email %> <br>
          Du : <%= reservation.starting_date %> <br>
          Au : <%= reservation.ending_date %> <br>
          Prix : <%= reservation.total_price %> € <br>
          Statut : <%= status %> <br>
          <%= link_to "Accepter", accept_reservation_path(reservation), method: :patch, data: { confirm: "Etes-vous sûr d'accepter cette réservation ?" }%>
          <%= link_to "Refuser", decline_reservation_path(reservation), method: :patch, data: { confirm: "Etes-vous sûr d'accepter cette réservation ?" }%>
        <% end %>
        </li>

      </ul>

    </li>

  <% end %>
</ul>


