  <%= simple_form_for [ @castle, @reservation ] do |f| %>
    <div class="form-inputs">
      <%= f.input :starting_date, as: :string, label: "Date de début", required: false, input_html: {class: "datepicker"} %>
      <%= f.input :ending_date, as: :string, label: "Date de fin", required: false, input_html: {class: "datepicker"} %>
    </div>
    <div class="form-actions btn btn-outline-light rounded-pill">
      <%= f.button :submit, 'Je réserve !' %>
      <%= link_to "", reservations_path %>
    </div>
  <% end %>

