<br>

<h1 class="mt-5">Mes réservations</h1>


<ul>
  <% @reservations.each_with_index do |reservation, index| %>

      <% status = "Erreur" %>
      <% if reservation.status == "pending" %>
        <% status = "En attente de validation" %>
      <% elsif reservation.status == "accepted" %>
        <% status = "Accepté" %>
      <% elsif reservation.status == "declined" %>
        <% status = "Refusé" %>
      <% end %>

      <% temps = (reservation.ending_date - reservation.starting_date).to_i %>
      <li>
        <%= index + 1 %>/ <%= reservation.castle.name %> : from <%= reservation.starting_date %> to <%= reservation.ending_date %> (<%= temps %> days / <%= reservation.total_price %> €)
        Status : <%= status %>
      </li>
  <% end %>
</ul>
