
<div class="container">
  <h1 class="text-center my-2">Mes réservations</h1>

    <% @reservations.reverse_each do |reservation| %>
        <% status = "Erreur" %>
        <% if reservation.status == "pending" %>
          <% status = "En attente de validation" %>
        <% elsif reservation.status == "accepted" %>
          <% status = "Accepté" %>
        <% elsif reservation.status == "declined" %>
          <% status = "Refusé" %>
        <% end %>

        <% temps = (reservation.ending_date - reservation.starting_date).to_i %>
        <% starting = reservation.starting_date.to_formatted_s(:long) %>
        <% ending = reservation.ending_date.to_formatted_s(:long) %>

            <div class="card-reservation">
              <h2 class="text-center mt-1 mb-2"><%= reservation.castle.name %></h2>
                <div class="card-reservation-show">
                 <%= cl_image_tag reservation.castle.photo.key, height: 300, width: 400, crop: :fill %>
                  <div class="card-reservation-infos">
                    <div class="calendar">
                      <i class="far fa-calendar-alt"></i>
                      <p> &nbsp;&nbsp;&nbsp;&nbsp;Du <%= starting %> <br> &nbsp;&nbsp;&nbsp;&nbsp;au</i> <%= ending %></p>
                    </div>
                    <div class="price">
                      <br>
                      <p class="d-flex align-items-center"><i class="fas fa-clock mr-4"></i><span> <%= temps %> jours</span></p>
                      <br>
                      <p class="d-flex align-items-center">&nbsp;<i class="fas fa-euro-sign mr-4"></i>&nbsp;<span> <%= reservation.total_price %> €</span></p>
                      <br>
                    </div>
                      <p><strong> <%= status %></strong></p>
                      <br>
                  </div>
                </div>
            </div>
    <% end %>
</div>
