<br>

<h1 class="mt-5">Mes réservations</h1>


<div class="card-trip">
  <img src="http://res.cloudinary.com/dq9xthd74/image/upload/c_fill,h_300,w_400/gbfxn04xowxn83dn9koh1wa40dym" />
  <div class="card-trip-infos">
    <% @reservations.each_with_index do |reservation, index| %>
    <div>
      <h2><%= reservation.castle.name %></h2>
      <p>from <%= reservation.starting_date %><br> to <%= reservation.ending_date %></p>
    <% temps = (reservation.ending_date - reservation.starting_date).to_i %>
    <h2 class="card-trip-pricing">(<%= temps %> days / <%= reservation.total_price %> €)</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
    <%= link_to "Accept", accept_reservation_path(reservation), method: :patch %>
    <%= link_to "Decline", decline_reservation_path(reservation), method: :patch %>
    <% end %>
  </div>
</div>

