
<div class="container">
  <h1 class="text-center my-2">Mes réservations</h1>

    <% @reservations.reverse_each do |reservation| %>


        <% temps = (reservation.ending_date - reservation.starting_date).to_i %>
        <% starting = reservation.starting_date.to_formatted_s(:long) %>
        <% ending = reservation.ending_date.to_formatted_s(:long) %>

            <div class="card-reservation">
              <h2 class="text-center mt-1 mb-2"><%= reservation.castle.name %></h2>
                <div class="card-reservation-show">
                 <%= cl_image_tag reservation.castle.photo.key, height: 300, width: 400, crop: :fill %>
                  <div class="card-reservation-infos">
                    <div class="calendar">
                      <p class="d-flex align-items-center"> <i class="far fa-calendar-alt mr-4"></i> <%= starting %> <br> </i> <%= ending %></p>
                    </div>
                    <div class="price">
                      <br>
                      <p class="d-flex align-items-center"><i class="fas fa-clock mr-4"></i><span> <%= temps %> jours</span></p>
                      <br>
                      <p class="d-flex align-items-center">&nbsp;<i class="fas fa-euro-sign mr-4"></i>&nbsp;<span> <%= reservation.total_price %> €</span></p>
                      <br>
                    </div>
                        <% if reservation.status == "pending" %>
                          <p class="pending">En attente</p>
                        <% elsif reservation.status == "accepted" %>
                          <p class="accepted">Acceptée</p>
                        <% elsif reservation.status == "declined" %>
                          <p class="declined">Refusée</p>
                        <% end %>
                      <br>
                  </div>
                </div>
            </div>
    <% end %>
</div>
