<div class="title-container-index">
  <h1 class="text-center my-2">Les châteaux</h1>
</div>
<div class="main-container justify-content-around">
  <div class="card-container-index my-5">
    <% @castles.each do |castle| %>
      <%= link_to castle_path(castle), class: "card-link-index", data: { turbolinks: false } do %>
        <div class="card-product">
          <img style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path castle.photo.key, height: 300, width: 400, crop: :fill %>')">
          <div class="card-product-infos">
            <h2><%= castle.name.capitalize %></h2>
            <p><%= castle.description.capitalize %></p>
            <p><%= castle.price_per_day %> € par jour.</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
    <div id="map" class="mt-5" style="height: 600px"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
