<h1>New Castle</h1>

<%= simple_form_for(@castle) do |f| %>

    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price_per_day %>
    <%= f.input :photo, label: "Castle image" %>
    <%= f.button :submit, :class => "btn btn-warning mt-2 mb-3"%>
<% end %>
