<div class="container">

  <div class="form-inputs card-trip">
    <%= simple_form_for(@castle) do |f| %>
    <h1>Créer un château</h1>
        <%= f.input :name, label: "Nom du château" %>
        <%= f.input :address, label: "Adresse du propriétaire du château" %>
        <%= f.input :description, label: "Description" %>
        <%= f.input :price_per_day, label: "Prix par jour" %>
        <%= f.input :photo, label: "Photo du château" %>
        <%= f.button :submit, "Créer", :class => "btn-outline-light btn-outline-light:hover btn-outline-light:active"%>
    <% end %>
  </div>
</div>
